.barstyle{
    text-align: center;
    color: white;
}

.ztstyle{
    margin-top: 23px;
}

.dtstyle{
    height: 66px;
}

.bkstyle{
    margin: 30px 38px 30px 38px;
    padding-bottom: 30px;
    background-color: white;
}

body{
    background-color: #cdcdcd;
}

.errormsg{
    margin-left: 34px;
    margin-bottom: 20px;
    margin-right: 194px;
    font-size: 18px;
    color: white;
    background-color: #ff0000;
}