<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/mystyle2.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
    <div class="container-fluid bkstyle">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ztstyle">
                <div th:insert="~{navigation :: nav}"></div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 ztstyle">
                <span th:text="${username}"></span>,欢迎登陆管理员界面！

            </div>
        </div>
    </div>
</body>
</html>