<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>内容</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js" type="application/javascript"></script>
    <script src="/js/lib/prettify.min.js" type="application/javascript"></script>
</head>
<body>
<div class="jumbotron">
    <h1>内容：</h1>
    <!--内容-->
    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
        <textarea style="height: 500px;width: 1500px;" th:text="${topicMgtDTO.description}"></textarea>
    </div>
    <script type="text/javascript">
        $(function () {
            editormd.markdownToHTML("question-view",{})
        })
    </script>
</div>
</body>
</html>